<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <a href="{{ site.baseurl }}"><h1>Mücahid Doğan</h1></a>
    <!-- <p>
      nick = <span class="string">"{{ site.nick }}"</span>
    </p> -->
    <p>
      who = <span class="string">"computer engineering student"</span>
      </p>
    <p>
    github = <a href="https://{{ site.source_code.server }}/{{ site.source_code.nick }}" target="_blank">
      <span class="string">"mucahiddogan"</span></a>
    </p>
    <p>
        twitter = <a href="https://twitter.com/mucahiddogann" target="_blank">
          <span class="string">"mucahiddogann"</span></a>
        </p>
    <p>
    mail = <a href="mailto:mucahid.dogan@protonmail.com"><span class="string">"mucahid.dogan [at] {{ site.mail.domain }} [dot] {{ site.mail.ext }}"</span></a>
    </p>
  </div>
</header>

{% include menu.html %}
